<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- One -->
<!--    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css" rel="stylesheet">-->
        
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">-->

        
    <link rel="stylesheet" href="lib/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.css">   
    
    <!-- One End -->
    
    <link rel="stylesheet" href="lib/jquery-ui-1.11.1/jquery-ui.css"/>
    <link rel="stylesheet" href="css/main.css"/> 
     <link rel="stylesheet" href="css/main_body.css"/>
        
    <script type="text/javascript" src="lib/jquery-ui-1.11.1/external/jquery/jquery.js"></script>
    <script type="text/javascript" src="lib/jquery-ui-1.11.1/jquery-ui.js"></script>

    <!-- Two  -->        
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        
    </head>
    <body id="main-body">

        <span id="spam-exp-id" data-expId=${expId}>${expId}</span>
                
      <div  class="main-margin">
         <div id="main-container">
            
          </div>
      </div>
        

        <script type="text/javascript" src="js/experiments_js/multipleQuestionTab.js"></script>
        <script type="text/javascript" src="js/experiments_js/inherit.js"></script>        
        <script type="text/javascript" src="js/experiments_js/numericalTab.js"></script>
        <script type="text/javascript" src="js/experiments_js/shortAnswerTab.js"></script>        
        <script type="text/javascript" src="js/experiments_js/module_spec.js"></script>     
        <script type="text/javascript" src="js/experiments_js/experiment-spec.js"></script> 
        <script type="text/javascript" src="js/experiments_js/createAssignment_session.js"></script> 
      <!--  <script type="text/javascript" src="js/tabs.js"></script>         
        <script type="text/javascript" src="js/home_page.js"></script> 
        
        <script type="text/javascript" src="js/login_inherit.js"></script>
        <script type="text/javascript" src="js/login_And_Register_Fun.js"></script>-->
        
    </body>
</html>
