<!DOCTYPE html>
<html>
    <head>
      <title>Login</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- One -->
        <link rel="stylesheet" href="lib/bootstrap3/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.css">   

        <!-- One End -->

        <link rel="stylesheet" href="lib/jquery-ui-1.11.1/jquery-ui.css"/>
        <link rel="stylesheet" href="css/main.css"/> 

        <script type="text/javascript" src="lib/jquery-ui-1.11.1/external/jquery/jquery.js"></script>
        <script type="text/javascript" src="lib/jquery-ui-1.11.1/jquery-ui.js"></script>

        <!-- Two  -->
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
      
        <div id="main-container">
       <!--     <div id="access-registration-container">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Room</th>
                            <th>Class #</th>
                            <th>TA Name</th>
                            <th>Slot #</th>                    
                        </thead>
                        <tbody id="reg-tbody">

                        </tbody>
                    </table>
                </div>
            </div>    -->
        </div>
        
        <script type="application/javascript" src="js/demo.js"></script>
        
    </body>
</html>    
